@font-face {
  font-family: 'Figtree';
  src: URL('figtree.ttf') format('truetype');
}

header {
	position: relative;
	text-align: right;
}

header * {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	line-height: 0px;
}

body {
	font-family: "Figtree", "Noto Sans", Tahoma, Verdana, sans-serif;
	background-color: rgb(14, 14, 14);
	color: rgb(240, 255, 255);
	font-size: 30pt;
	margin: 1em;
}

body.dark {
	background-color: rgb(240, 255, 255);
	color: rgb(14, 14, 14);
}

h1 {
	color: rgb(255, 128, 0);
	font-weight: 900;
}

h1.dark {
	color: rgb(128, 0, 255);
}
input[type="checkbox"] {
	display: none;
}

.sun {
	opacity: 0;
}

.moon {
	opacity: 1;
}

.sun.dark {
	opacity: 1;
}

.moon.dark {
	opacity: 0;
}
