header {
  text-align: right;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgb(14, 14, 14);
  color: rgb(240, 255, 255);
}
