@font-face {
  font-family: 'Figtree';
  src: URL('figtree.ttf') format('truetype');
}

body {
	font-family: "Figtree", "Noto Sans", Tahoma, Verdana, sans-serif;
	background-color: rgb(245, 245, 255);
	color: rgb(14, 14, 14);
	line-height: 0px;
	margin: 1em;
}

body.dark {
	background-color: rgb(14, 14, 18);
	color: rgb(240, 255, 255);
}

input[type="checkbox"] {
	display: none;
}

.sun {
	display:block;
}

.moon {
	display: none;
}

.sun.dark {
	display:none;
}

.moon.dark {
	display:block;
}

main {
	height: 100vh;
}

h1 {
	font-size: 25pt;
	font-weight: 900;
}

h3 {
	font-size: 20pt;
	font-weight: 900;
}

p {
	font-size: 12pt;
	font-weight: 500;
}

a {
	color: rgb(0, 102, 204);
	text-decoration: none;
}

a.dark {
	color: rgb(51, 150, 255);
}

button {
	border: none;
	padding: 8px;
	border-radius: 2px;
	background-color: rgb(204, 208, 218);
	color: rgb(0, 0, 0)
}

button.dark {
	background-color: rgb(37, 37, 50);
	color: rgb(255, 240, 255);
}

.flex {
	display: flex;
	gap: 4px;
}

.flex-row {
	flex-direction: row;
	justify-content: center;
}
.flex-col {
	flex-direction: column;
	align-items: center;
}

.pad-bottom {
	margin-bottom: 1.3em;	
}

.flex-space {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}

.pad {
	padding: 8px;
}

.back {
	color: rgb(14, 14, 14);
}

.back.dark {
	color: rgb(240, 240, 240);
}
